version: 2.1
jobs:
  analytics-core-dp-build:
    machine: true
    steps:
    - checkout
    - run: git clone https://github.com/project-sunbird/sunbird-analytics-core
    - restore_cache:
        keys: 
          - dp-dependency-cache-{{ checksum "pom.xml" }}
    - run: cd sunbird-analytics-core && mvn install -DskipTests
    - run:
        name: data-products-build
        command: mvn scoverage:report
    - save_cache:
        key: dp-dependency-cache-{{ checksum "pom.xml" }}
        paths: ~/.m2
    - run:
        name: sonar
        command: |
          mvn -X sonar:sonar -Dsonar.projectKey=project-sunbird_sunbird-analytics -Dsonar.organization=project-sunbird -Dsonar.exclusions=video-streaming/**,optional-master/**,batch-models/src/main/scala/org/ekstep/analytics/job/batch/VideoStreamingJob.scala -Dsonar.host.url=https://sonarcloud.io -Dsonar.scala.coverage.reportPaths=/home/circleci/project/target/scoverage.xml

workflows:
  version: 2.1
  workflow:
    jobs:
    - analytics-core-dp-build